* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    text-align: center;
    font-family: sans-serif;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    background-color: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}


.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-top: 57px;

}

.logo a {
    text-decoration: none;
    color: floralwhite;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover{
    background: #e91e1e;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(images/IMG_b_w.png) no-repeat center;
    background-size: cover;
}

.title {
    margin-top: 100px;
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding:0 150px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px ;
    border: 2px solid #e91e1e;
    color: floralwhite;
    text-decoration: none;
    background: #e91e1e;
    border-radius: 10px;
}

.btn:hover{
    background: #e91e1e49;
    border-radius: 10px;
    border: 2px solid #e91e1e49;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

.sau {
    padding: 45vh 0;
    background: #535353;
    height: 68vh;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -55px;
}

.box-container .box {
    height: 500px;
    width: 450px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 40px;
}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: floralwhite;
    background: #e91e1e;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #e91e1e;
}

.box-container .box p{
    padding: 0 15px;
    font-size: 16px;
}

.box-container .box img {
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(69, 69, 69, 0.3);
}

.price {
    background: url(images/IMG_b_w.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
}

.about {
    background: #303030;
    padding: 100px 0;
    height: 70vh;
}

.box-container2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #171717;
    margin: 20px 20px;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50px;
    margin-top: -50px;
    border: 6px solid #e91e1e;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #e91e1e;
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 18px;
    color: floralwhite;
    padding: 0;
}

.box-container2 .box .stars {
    font-size: 15px;
    color: #e91e1e;
}

.contact {
    padding: 50px;
    background: #808080;
    height: 40vh;
}

footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #e91e1e;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



@media (max-width: 700px) {
    p {
        padding: 0 50px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 40px;
    }
    .sau {
        height: 100vh;
        padding: 50px 0;
    }
    .about {
        height: 100vh;
        padding: 50px 0;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    .f-enlaces {
        display: none;
    }
    .navbar {
        display: none;
    }

    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }

}
